.wallet-container {
  position: relative;
  height: 100vh;
  max-width: 425px;
}

.first-background {
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 1; */
  width: 100%;
  height: 53%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../Images/backgroundWallet.png");
}

.second-background {
  background-image: url("../../Images/whitebackground.png");
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  height: 100%;
  background-size: contain;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  padding: 0px 0 220px 0;
  max-width: 350px;
}

.Content {
  padding: 40px 0 0 0;
}

.normal-text {
  text-align: center;
  color: #666666;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.wallet-balance {
  text-align: center;
  font-size: xx-large;
  color: #0071d9;
  padding: 0;
  margin: 0;
}

.phoneBar {
  width: 100%;
  position: absolute;
  z-index: 999999;
  padding: 16px;
}

.buttons {
  width: 100%;
  position: absolute;
  z-index: 999999;
  padding: 16px;
  display: flex;
  align-items: center;
  top: 7%;
  justify-content: space-between;
}

#wallet {
  color: var(--white);
}

.Transictions img {
  margin: 0px 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.Transictions .internal-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.internal-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  gap: 0.5rem;
  padding-top: 5px;
}

.internal-titles span {
  flex: 1;
  text-align: center;
  font-size: 10px;
}
.internal-titles:last-child {
  margin: 2px 3px;
}
.transictions-details {
  display: flex;
  justify-content: center;
  background-color: #ebf5ff;
  width: 60%;
  border-radius: 30px;
  margin: 20px 0;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.transiction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}
.left-side {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.left-side div :nth-child(1) {
  font-weight: 500;
}
.left-side div :nth-child(2) {
  color: rgb(117, 117, 117);
  font-size: 12px;
}
.loss {
  color: var(--red);
}
.green {
  color: var(--green);
}
.transiction-scroll {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  padding-bottom: 80px;
}

@media (min-width: 318px) and (max-width: 374px) {
  .wallet-balance {
    font-size: 24px;
  }
  .Content {
    padding: 25px 0 0 0;
  }
  .Transictions .internal-content img {
    width: 30px;
  }
  .left-side {
    gap: 0rem;
  }
  .left-side div :nth-child(1) {
    font-weight: 500;
    font-size: 14px;
  }
  .left-side div :nth-child(2) {
    color: rgb(117, 117, 117);
    font-size: 10px;
  }
  .left-side img {
    width: 75%;
  }
  .rigth-side {
    font-size: 14px;
  }
  .transictions-details {
    font-weight: 400;
    font-size: 16px;
  }
}
