.navbar-container{
    background-color: rgb(255, 255, 255);
   padding: 0.7rem 0 0.7rem 0;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}
.navbar{
    background-color: #ffffff !important;
    padding: 0.8rem 0 0.8rem 0;
    
}
.plus{
    position: absolute;
left: 9rem;
bottom: 0.6rem;
width:130px;
}
.chart{
    margin-right:2rem;
}
.home{
    margin-left: 1rem;
}

.wallet{
    margin-left: 2rem;
}
.user{
    margin-right: 1rem;
}
